@mixin clip-polygon($num, $color, $radius: 64px) {
    position: relative;
    width: $radius*2;
    height: $radius*2;
    background: $color;    
    $points: ();    
    @for $i from 0 to $num {        
        $angle: 360deg/2/$num + 360deg / $num * $i;        
        $pointX: 50% + sin($angle)*50%;
        $pointY: 50% + cos($angle)*50%;
        $points: append($points, unquote($pointX+" "+$pointY), "comma");
    }
    -webkit-clip-path: polygon(#{$points});
}

.polygon{
    width:200px;
    height: 200px;
    display: inline-block;
}

$maxNum: 10;
@for $i from 1 through $maxNum {    
    $num: $i + 2;
    .polygon:nth-of-type(#{$i})::after {
        content: "#{$num}";
    }
    .clippaths .polygon:nth-of-type(#{$i}) {
        @include clip-polygon($num, #c00);
    }
}
